.wd-properties-item-column1{
    width: 30%;
    float: left;
    text-align: center;
    display: block;
    padding-top: 6px;
}

.wd-properties-item-column2{
    width: 60%;
    float: left;
}

.wd-properties-input {
    width: 120px!important;
    margin-bottom: 0px!important;
}

.wd-properties-btn {
    width: 38px;
    margin-bottom: 10px ;
}

.wd-properties-event {
    width: 63px!important;
}

.wd-properties-select {
    width: 135px!important;
}

.wd-properties-length {
    width: 93px!important;
}

.wd-properties-int {
    width: 35px!important;
}

.wd-properties-editor-border {
    height: 180px;
    width: 300px;
}

.wd-properties-editor-image {
    height: 190px;
    width: 210px;
}

.wd-properties-editor-font {
    min-height: 270px;
    width: 300px;
}

.wd-properties-editor-font-preview {
    margin-top: 10px;
    min-height: 100px;
    background-color: #efefef;
}

.wd-properties-editor-font-preview > * {
    line-height: 100%;
}

.wd-properties-editor-map {
    min-height: 270px;
    width: 638px;
}

.wd-properties-editor-multi-select {
    min-height: 100px;
    width: 300px;
}

.wd-editor-inner {
    background-color: #ffffff;
    height: 600px;
    margin: 40px 0 0 40px;
    overflow: hidden;
    width: 700px;
    position: relative;
}

.wd-editor-outer {
    left: 5px;
    top: 5px;
    position: absolute;
}

.wd-scale {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.wd-properties-item {
    clear: both;
    height: 40px;
}

.wd-editor-comp-toolbar {
    background-color: #aaaaaa;
}

.wd-editor-comp-mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.wd-properties-form .control-group {
    margin-bottom: 0px;
    *zoom: 1;
}
.wd-properties-form .control-group:before,
.wd-properties-form .control-group:after {
    display: table;
    content: "";
    line-height: 0;
}
.wd-properties-form .control-group:after {
    clear: both;
}
.wd-properties-form .control-label {
    float: left;
    width: 60px;
    padding-top: 5px;
    text-align: right;
}
.wd-properties-form .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 70px;
    *margin-left: 0;
}
.wd-properties-form .controls:first-child {
    *padding-left: 70px;
}
.wd-properties-form .help-block {
    margin-bottom: 0;
}
.wd-properties-form input + .help-block,
.wd-properties-form select + .help-block,
.wd-properties-form textarea + .help-block {
    margin-top: 5px;
}
.wd-properties-form .form-actions {
    padding-left: 70px;
}

.wd-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 1px 4px;
    opacity: 0.5;
    cursor: pointer;
}

.wd-icon:hover {
    opacity: 1;
}

.wd-icon-save {
    background-image: url('../image/save.png');
}

.wd-icon-redo {
    background-image: url('../image/redo.png');
}

.wd-icon-undo {
    background-image: url('../image/undo.png');
}

.wd-icon-setting {
    background-image: url('../image/setting.png');
}

.wd-icon-copy {
    background-image: url('../image/copy.png');
}

.wd-icon-past {
    background-image: url('../image/past.png');
}

.wd-icon-delete {
    background-image: url('../image/delete.png');
}

.wd-icon-setting {
    background-image: url('../image/setting.png');
}

.wd-icon-help {
    background-image: url('../image/help.png');
}

/* css in toolbar*/

.wd-draggable-comp-item {
    float: left;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 5px;
    padding: 12px 18px 20px;
    width: 50px;

    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#000000;
    font-family:arial;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

.wd-draggable-comp-item: hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ababab), color-stop(1, #dedede) );
    background:-moz-linear-gradient( center top, #ababab 5%, #dedede 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#dedede');
    background-color:#cdcdcd;
}
.wd-draggable-comp-item > span{
    display: block;
    text-align: center;
}

.wd-draggable-comp-item > i{
    margin-left: 12px;
}

.wd-draggable-comp-item:hover {
    color: red;
}

.wd-draggable-comp-icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 28px;
}

.wd-draggable-comp-icon-button {
    background-image: url('../image/style_button.png');
}

.wd-draggable-comp-icon-checkbox {
    background-image: url('../image/style_checkbox.png');
}

.wd-draggable-comp-icon-div {
    background-image: url('../image/style_div.png');
}

.wd-draggable-comp-icon-input {
    background-image: url('../image/style_input.png');
}

.wd-draggable-comp-icon-radio {
    background-image: url('../image/style_radio.png');
}

.wd-draggable-comp-icon-select {
    background-image: url('../image/style_select.png');
}

.wd-draggable-comp-icon-table {
    background-image: url('../image/style_table.png');
}

.wd-draggable-comp-icon-text {
    background-image: url('../image/style_text.png');
}

.wd-draggable-comp-icon-textarea {
    background-image: url('../image/style_textarea.png');
}

.wd-draggable-comp-icon-tree {
    background-image: url('../image/style_tree.png');
}

.wd-draggable-comp-icon-image {
    background-image: url('../image/style_image.png');
}

.wd-draggable-comp-icon-link {
    background-image: url('../image/style_link.png');
}

/*css outline item*/
.wd-outline-item {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:block;
    color:#000000;
    font-family:arial;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    margin: 2px 0 2px 20px;
    width: 150px;
}
.wd-outline-item:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #eeeeee) );
     background:-moz-linear-gradient( center top, #cccccc 5%, #eeeeee 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#eeeeee');
     background-color:#cccccc;
}

.wd-outline-item-select {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ababab), color-stop(1, #dedede) );
    background:-moz-linear-gradient( center top, #ababab 5%, #dedede 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#dedede');
    background-color:#cdcdcd;
}

/*  css in editor */

.wd-editor-comp-selected-append {
    width: 4px;
    height: 4px;
    border: 1px solid #000000;
    position: absolute;
}

.wd-editor-comp-selected-append-n {
    top: -2px;
    left: 50%;
    margin-left: -4px;
}
.wd-editor-comp-selected-append-s {
    bottom: -2px;
    left: 50%;
    margin-left: -4px;
}
.wd-editor-comp-selected-append-e {
    right: -2px;
    top: 50%;
    margin-top: -4px;
}
.wd-editor-comp-selected-append-w {
    left: -2px;
    top: 50%;
    margin-top: -4px;
}

.wd-editor-selected-area {
    border: 1px solid #0e0e0e;
    background: transparent;
}

.wd-editor-snap-line {
    border: none;
}
.wd-editor-snap-line-x , .wd-editor-snap-line-cx {
    height: 1px;
}
.wd-editor-snap-line-y , .wd-editor-snap-line-cy {
    width: 1px;
}

.wd-editor-snap-line-active {
    background-color:#ff0000!important;
}

/* layout  */

.wd-layout-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 230px;
    background-color: #ededed;
}

.wd-layout-left .tab-content {
    position: absolute;
    top: 85px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    right: 0;
}

.wd-layout-right {
    position: absolute;
    left: 230px;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #727272;
    overflow: auto;
}

.wd-layout-toolbar {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8b8b8), color-stop(1, #f2f2f2) );
    background:-moz-linear-gradient( center top, #b8b8b8 5%, #f2f2f2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8b8b8', endColorstr='#f2f2f2');
    background-color:#b8b8b8;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 2px;
}

.wd-layout-toolbar-inner {
    margin: 0 auto;
    padding: 3px 0;
}