.framework-file-inputs {
    position: relative;
    line-height: 40px;
}

.framework-fake-file {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.framework-fake-file > input {
    width: 100px!important;
    float: left;
}

.framework-input-file {
    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}