<div class="designer-layout-left">
    <div class="designer-layout-editor container-toolbar-editor"></div>
    <ul class="nav nav-tabs">
        <li class="active"><a id="toolBarElementTabLink" href="#toolBarElementTab">控件</a></li>
        <li><a id="propertiesTabLink" href="#propertiesTab">属性</a></li>
        <li><a id="outlineTabLink" href="#outlineTab">概览</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active container-toolbar-elements" id="toolBarElementTab"></div>
        <div class="tab-pane container-properties" id="propertiesTab"></div>
        <div class="tab-pane container-outline" id="outlineTab"></div>
    </div>
</div>
<div class="designer-layout-right">
    <div class="designer-editor-outer container-editor">

    </div>
</div>