<div class="wd-layout-left">
    <div class="wd-layout-toolbar wd-container-toolbar"></div>
    <ul class="nav nav-tabs">
        <li class="active"><a id="toolBarElementTabLink" href="#toolBarElementTab">控件</a></li>
        <li><a id="propertiesTabLink" href="#propertiesTab">属性</a></li>
        <li><a id="outlineTabLink" href="#outlineTab">概览</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active wd-container-draggable-comp" id="toolBarElementTab"></div>
        <div class="tab-pane wd-container-properties" id="propertiesTab"></div>
        <div class="tab-pane wd-container-outline" id="outlineTab"></div>
    </div>
</div>
<div class="wd-layout-right">
    <div class="wd-editor-outer wd-container-editor">

    </div>
</div>